{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}
{% block body %}
    <main>
        <div class="container">
            <h1 class="mt-4 mb-4">Portfolio</h1>

            <div class="row mb-4">
                <div class="col-4">
                    <div class="card h-100">
                        <div class="card-header">
                            Total Balance
                        </div>
                        <div class="card-body">
                            <h4>
                                {{ portfolio.balance / 10000 }}$
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card h-100">
                        <div class="card-header">
                            Actions
                        </div>
                        <div class="card-body">
                            <div class="btn-group">
                                <button onclick="window.location.href = '{{ path('position_open') }}'" class="btn btn-outline-dark btn-sm">Open Position</button>
                                <button onclick="window.location.href = '{{ path('position_close') }}'" class="btn btn-outline-dark btn-sm">Close Position</button>
                            </div>
                            <button onclick="window.location.href = '{{ path('app_logout') }}'" class="btn btn-outline-dark btn-sm float-right">Logout</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-4">
                <div class="card-header">
                    Open Positions
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Ticker</th>
                                <th>Amount</th>
                                <th>Average Buyin Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for position in portfolio.positions %}
                                <tr>
                                    <td>{{ position.ticker }}</td>
                                    <td>{{ position.amount }}</td>
                                    <td>{{ position.averagePrice / 10000 }}$</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}